* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#F6F6F6, #FFF);
}

.banner {
    padding: 1em;
    border: 1px solid #F6F6F6;
}

p {
    color: #555;
}

.small-container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 1em;
}

.body-container {
    margin-bottom: 3em;
}

.src-container {
    display: flex;
    justify-content: space-between;
}

.header{
    width: 80%;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #F7630C;
}

.afro {
    color: #282C34;
}

.search-bar {
    width: 100%;
    color: #282C34;
    padding: 0 1em;
    border: 1px solid #CCCCCC;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: #0DC094;    
}

.btn {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding: 0 1em;
    background-color: #0DC094;
    border: 1px solid #0DC094;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/*---Menu Section Start---*/
.nav-content,
.small-container {
    font-family: 'Poppins', sans-serif;
}

.nav-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1em;
}

.nav-item {
    font-size: .8em;
    color: #282C34;
    list-style: none;
    margin: 0 .8em;
    text-transform: capitalize;
}

.home, .electronic, .clothing, .automobile,
.food, .furniture, .construction {
    border-bottom: .2em solid #2a4f48be;
}

/*---Menu Section End---*/

/*---Hero Section Start---*/


.hero-wrapper {
    padding: .5em 0;
    background-color: #F6F6F6;
}

.hero-container * {
    color: #2A4F48;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-2 {
    flex-basis: 50%;
}

.col-2 h2 {
    font-size: 2.5rem;
    margin-bottom: 1em;
}

.col-2 p {
    margin-top: 2.3em;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.hero-btn {
    font-size: 1rem;
    color: #fff;
    margin-top: 1.5em;
    padding: .5em 1.5em;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #00A082;
    background-color: #00A082;
}

/*---Hero Section End---*/

/*---New Arrivals Start---*/

.title {
    color: #282C34;
    margin: 2em 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.col-4 {
    flex-basis: 23%;
    margin-bottom: 3em;
}

.col-4-none {
    margin-bottom: 1em;
}

.img-con {
    margin: auto;
    height: 205px;
    width: 174px;
}

.img-con p {
    font-size: 1em;
    text-align: center;
    margin: 1em 0;
}

/*---New Arrivals End---*/

 /*---Main Category Section---*/

.col-3 {
    padding: 1em;
    background-color: #FFF;
}

.product-title {
    color: #282C34;
    font-weight: 600;
    margin-bottom: 2em;
}

.shop-now {
    font-size: .8rem;
    color:#2A4F48;
    font-weight: 450;
}

.category-img {
    margin: auto;
    height: 220px;
    width: 380px;
    margin-bottom: 2em;
    padding: .8em;
    padding-left: 0;
}

/*---Main Category Section---*/

/*---Electronic Category Start---*/

.category-bg {
    background-color: #2a4f48be;
    margin-bottom: 1em;
}

.category-title {
    font-size: 1.2rem;
    color: #FFF;
    text-transform: capitalize;
    letter-spacing: .1em;
}

.category-wrapper {
    display: flex;
    gap: 1em;
}

.category-container {
    width: 15%;
}

.category-list {
    font-size: .8rem;
    color: #2A2A2A;
    font-weight: 450;
    line-height: 2em;
    text-transform: capitalize; 
    border-right: 1px solid #CCCCCC;
}

.product-wrapper {
    width: 85%;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.product-item {
    width: 260px;
    border-radius: .2em;
    padding: .3em 0;
}

.pro-img {
    height: 200px;
    width: 100%;
}

.pro-title {
    font-size: 14px;
    color: #2A2A2A;
    margin-top: .5em;
}

.fa-star,
.fa-star-half-alt {
    font-size: .8rem;
    color: #F7630C;
    opacity: 80%;
}

.pro-status {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1em;
}

.pro-price {
    color: #000;
    padding-bottom: 1em;
    margin-top: .5rem;
}

/*---Electronic Category End---*/

footer {
    border-top: 2px solid #F6F6F6;
    padding: 2em 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    
}

.footer-col {
    flex-basis: 25%;
}

.footer-mag {
    margin-bottom: 1.5em;
}

.footer-logo {
    font-size: 1.4rem;
}

.footer-col h3 {
    font-size: 1rem;
    color: #555;
    font-weight: 500;
    margin-bottom: .5em;
}

.footer-col p {
    font-size: .8rem;
    line-height: 1.8;
}

.fa-copyright {
    color: #555;
    margin-top: 1em;
    margin-bottom: 1em;
}

.fab {
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-right: .1em;
}

.fa-phone-alt {
    margin: .5em 0;
}

.fa-envelope, .fa-phone-alt{
    font-size: 1rem;
}

.search-bar:focus {
    outline: none;
}

.search-bar::placeholder {
    font-family: sans-serif;
    font-size: .8rem;
}

.btn:hover, .fab:hover, 
.hero-btn:hover, .pro-img:hover {
    cursor: pointer;
}

.nav-item:hover,
.category-list:hover,
.product-advert p:hover {
    cursor: pointer;
    color: #F7630C;
}

.hero-btn:hover {
    color: #2A4F48;
    background-color: #F6F6F6;
    border: 1px solid #2A4F48;
}

.img-con:hover, .shop-now:hover, 
.category-img:hover, .pro-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-list:hover {
    cursor: pointer;
    color: #555;
    text-decoration: underline;
}

@media (max-width: 1250px) {

    .header{
        width: 70%;
    }

    .flex-container {
        justify-content: center;
        gap: 15px;
    }

    .category-img {
        height: 200px;
        width: 320px;
    }

    .img-con p {
        font-size: 12px;
        text-align: center;
        margin-top: .5em;
    }
}

@media (max-width: 420px) {

    .nav-item {
        margin: 0 .6em;
    }

    .mobile-view {
        align-items: center;
    }

    .col-2 h2 {
        font-size: 2rem;
    }

    .product-wrapper {
        width: 100%;
    }

    .product-item {
        height: 300px;
        width: 100%;
        margin-bottom: 2em;
    }

    .small-container, .flex-container,
    .footer-wrapper, .mobile-view {
        flex-direction: column;
    }

    .banner, .category-container {
        display: none;
    }

    .src-container {
        align-items: center;
    }
    
    .header {
        width: 100%;
        margin-top: 1em;
    }

    .search-bar {
        padding: .5em;
    }

    .hero-title p {
        font-size: 14px;
    }

    .hero-img {
        margin-top: 2em;
    }

}





