* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(#F6F6F6, #FFF);
}

p {
    color: #555;
}

.small-container {
    padding: 0 .6em;
}

.src-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 1em 0;
}

.hero-border {
    border-bottom: 1px solid #6663631f;
}

.header{
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #F7630C;
}

.afro {
    color: #282C34;
}

.search-bar {
    width: 100%;
    font-size: 1em;
    color: #5e6064;
    padding: .5em;
    border: 1px solid #CCCCCC;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: #0DC094;    
}

.btn {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding: 0 1em;
    background-color: #0DC094;
    border: 1px solid #0DC094;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.fa-utensils {
    font-size: 1.3rem;
}

.nav-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.nav-item {
    font-size: .8rem;
    color: #2A4F48;
    list-style: none;
    margin: 0 .6em;
    text-transform: capitalize;
    font-weight: 500;
}

.nav-item-last {
    color: #00A082;
}

.home, .electronic, .clothing, .automobile,
.food, .furniture, .construction {
    border-bottom: .2em solid #2a4f48be;
}

.hero-wrapper {
    padding-top: 1em;
    padding-bottom: 1.5em;
    background-color: #F6F6F6;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-2 h2 {
    font-size: 2rem;
    margin-bottom: 1em;
}

.hero-title p {
    font-size: 1rem;
}

.hero-container * {
    color: #2A4F48;
}

.hero-img {
    margin-top: 2em;
}

.col-2 {
    flex-basis: 50%;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    user-select: none;
}

.hero-btn {
    font-size: 1rem;
    color: #fff;
    margin-top: 1.5em;
    padding: .5em 1.5em;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #00A082;
    background-color: #00A082;
}

/*---New Arrivals Start---*/

.title {
    color: #282C34;
    margin: 2em 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.col-4 {
    flex-basis: 20%;
    margin-bottom: 3em;
}

.col-4-none {
    margin-bottom: 1em;
}

.img-con {
    margin: auto;
    height: 179px;
    width: 150px;
}

.img-con p {
    font-size: .9rem;
    text-align: center;
    margin: 1em 0;
}

/*---New Arrivals End---*/

 /*---Main Category Section---*/

 .body-container {
    margin-bottom: 2em;
 }

 .col-3 {
    padding: 1em 0;
    background-color: #FFF;
}

.col-3 p{
    padding-left: 1em;
}

.product-title {
    color: #282C34;
    font-weight: 600;
    margin-bottom: 2em;
}

.shop-now {
    font-size: .8rem;
    color:#2A4F48;
    font-weight: 450;
}

.category-img {
    height: 220px;
    width: 350px;
    margin-bottom: 2em;
}
/*---Main Category Section---*/

/*---Electronic Category Start---*/

.category-bg {
    background-color: #607C76;
    position: sticky;
    top: 0;
    z-index: 10;
}

.mobile-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.category-title {
    font-size: 1.2rem;
    color: #FFF;
    text-transform: capitalize;
    letter-spacing: .1em;
    padding: .5em 0;
}

.mobile-menu {
    width: 30px;
    background-image: url(../icons/menu_white_24dp.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.8rem;
}

.category-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}
 
.category-container {
    display: none;
}

/******** ACTIVE CLASS ************/

    .mobile-view {
        width: 75%;
        position: absolute;
        left: 0;
        padding: 0 .6em;
        background: #607C76;
        opacity: 95%; 
        display: none;
    }

    .category-list:last-child {
        margin-bottom: 1em;
    }

    .mobile-view[data-visible="true"] {
        display: block;
        max-height: 22em;
        overflow: scroll;
    }

    .mobile-menu[aria-expanded="true"] {
        background-image: url(../icons/close_white_24dp.svg);
    }
    
/******** ACTIVE CLASS ************/

.category-list {
    font-size: .9rem;
    color: #FFF;
    font-weight: 300;
    line-height: 2em;
    text-transform: capitalize;
    opacity: 95%;
}

.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .8em;
}

.product-item {
    display: flex;
    flex-direction: column;
    border-radius: .2em;
    padding-top: .5em;
    padding-bottom: .8em;
    margin: 0 auto;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
}

.product-last-item {
    border-bottom: none;
}

.pro-img {
    justify-self: center;
    align-self: center;
}

.pro-description {
    padding: 0 .5em;
}

.pro-title {
    font-size: 14px;
    font-weight: 500;
    margin-top: .5em;
}

.fa-star,
.fa-star-half-alt {
    font-size: .8rem;
    color: #F7630C;
}

.product-detail-btn {
    font-size: 14px;
    color: #2A4F48;
    opacity: 85%;
    font-weight: 450;
    margin: .5em 0;
    align-items: flex-end;
}

.product-detail-container {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
}

.product-img-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 350px;
}

.product-img {
    max-height: 350px;
    max-width: 350px;
}

.product-small-img {
    display: flex;
    margin-top: 2em;
}

.product-detail-title {
    margin-top: 1em;
}

.product-price {
    color: #607C76;
    margin: 1em 0;
    font-weight: 800;
}

.product-contact {
    margin: 2em 0;
}

.contact-title {
    font-weight: 600;
    margin-bottom: .5em;
}

.contact-detail {
    line-height: 1.8em;
}

.fa-location-dot {
    font-size: 1.2rem;
}

.contact-icon {
    margin-right: 1em;
    color: #00A082;
}

.product-payment {
    margin-top: 1em;
}

.payment-icons {
    display: flex;
    margin-top: 1em;
}

.payment-icon-img {
    height: 40px;
    width: 60px;
    padding-right: 1em;
}

.product-back-btn {
    color: #607C76;
    text-align: center;
    margin: 2em 0;
}

.product-spec-title {
    color: #607C76;
    margin: 1em 0;
}

.table-container {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-container tr {
    border: 1px solid #DFE4E3;
}

.table-container tr td {
    font-size: 14px;
    color: #2A2A2A;
    padding: 5px;
    word-break: break-all;
}

.table-container tr:nth-child(odd) {
    background-color: #DFE4E3;
}

.table-container tr td:nth-child(1) {
    font-weight: 450;
}

.active-category-list {
    color: #F7630C;
}

/*---Electronic Category End---*/

footer {
    border-top: 2px solid #F6F6F6;
    padding: 2em 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-col {
    flex-basis: 25%;
}

.footer-mag {
    margin-bottom: 1.5em;
}

.footer-logo {
    font-size: 1.4rem;
}

.footer-col h3 {
    font-size: 1rem;
    color: #555;
    font-weight: 500;
    margin-bottom: .5em;
}

.footer-col p {
    font-size: .8rem;
    line-height: 1.8;
}

.fa-copyright {
    color: #555;
    margin-top: 1em;
    margin-bottom: 1em;
}

.fab {
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-right: .1em;
}

.fa-phone {
    margin: .5em 0;
}

.fa-envelope, .fa-phone {
    font-size: 1rem;
}

.search-bar:focus {
    outline: none;
}

.search-bar::placeholder {
    font-family: sans-serif;
    font-size: .8rem;
}

.btn:hover, .fab:hover, 
.pro-img:hover, .pro-title:hover {
    cursor: pointer;
}

.shop-now:hover, .category-img:hover {
    cursor: pointer;
    text-decoration: underline;
}

.img-con-title:hover {
    color: #2A4F48;
}

.footer-list:hover {
    cursor: pointer;
    color: #555;
    text-decoration: underline;
}

@media (min-width: 800px) {
    
    .footer-wrapper {
        flex-direction: row;
    }
  
}

@media (min-width: 850px) {

    .banner {
        padding: 1em;
        border: 1px solid #F6F6F6;
    }
    
    .small-container {
        max-width: 1300px;
        margin: 0 auto;
    }

    .nav-item {
        font-size: .9rem;
        margin: 0 .8rem;
    }

    .nav-item-last {
        color: #00A082;
        padding: .3em .5em;
        border: 1px solid #00A082;
        border-radius: 1em;
    }

    .hero-wrapper {
        padding-top: 1.5em;
    }

    .mobile-view,
    .mobile-menu {
        display: none;
    }

    .category-bg {
        position: static;
    }

    .category-list {
        font-size: 14px;
        color: #000;
        font-weight: 450;
        line-height: 1.9em;
    }

    .body-container {
        margin-bottom: 4em;
     }

    .src-container {
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 2em;
    }

    .hero-border {
        border-bottom: none;
    }

    .header {
        max-width: 100%;
    }

    .hero-container {
      flex-direction: row;
      margin-top: 1em;
    }

    .col-2 h2 {
        font-size: 2.2rem;
    }

    .col-4 {
        flex-basis: 23%;
    }

    .category-container {
        width: 15%;
        display: inline;
    }

    .category-img {
        width: 380px;
    }

    .category-wrapper {
        margin-top: 2em;
        gap: .6em;
    }

    .product-wrapper {
        width: 85%;
    }

    .product-item {
        flex-basis: 24%;
        border: 1px solid #CCC;
        border-radius: 6px;
    }

    .product-detail-container {
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin-top: 3em;
        margin-bottom: 2em;
    }

    .pro-detail-wrapper {
        max-width: 450px;
        margin-left: 5em;
    }

    .product-detail-title {
        margin-top: 0;
    }

    .product-back-btn:hover {
        color: #00A082;
    }

    .footer-wrapper {
        flex-direction: row;
    }

    .hero-btn {
        transition: backgroun;
    }

    .nav-item:hover,
    .category-list:hover,
    .product-advert p:hover {
        cursor: pointer;
        color: #F7630C;
    }

    .nav-item-last:hover {
        color: #0DC094;
        border-color: #0DC094;
    }

    .hero-btn:hover {
        color: #2A4F48;
        background-color: #fff;
        border: 1px solid #2A4F48;
        cursor: pointer;
        transition: background-color 0.5s;
    }

    .product-detail-btn:hover {
        cursor: pointer;
        text-decoration: underline;
        transition: background-color 0.5s;
    }

    .active-category-list {
        color: #F7630C;
    }

}

